<div class="node{% if sticky %} sticky{% endif %}">
{{ picture }}
  <h2 class="title"><a href="{{ node_url }}">{{ title }}</a></h2>
  <span class="submitted">{{ submitted }}</span>
  <div class="taxonomy">{{ terms }}</div>
  <div class="content">{{ content }}</div>
  {% if links %}<div class="links">&raquo; {{ links }}</div>{% endif %}
</div>
